<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Home page</title>
</head>
<body>
<div layout:fragment="content" class="container body-content">
    <div th:if="${error}" class="alert alert-danger">
        <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
        You didn't put in a valid postcode.
    </div>
    <div class="jumbotron">
        <h1>BusBoard</h1>
        <p class="lead">For all your bus info needs. Enter a postcode below and click enter to see bus times for that location.</p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="messageForm" th:action="@{/busInfo}" method="get">
                <!--<fieldset>
                    <legend>Postcode: </legend>
                    <input type="text" class="form-control" name="postcode">
                    <input type="submit" class="btn" value="Get Bus Info" />
                </fieldset>-->
                <div class="input-group">
                    <span class="input-group-addon">Postcode</span>
                    <input type="text" class="form-control" name="postcode">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-bus"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>